name: Main Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Greeting
        run: echo "Hello from Main Workflow!"
      - name: Multi-line example
        run: |
          echo "Workflow for PracticeRepo2"
          echo "You can add build, test, and deploy steps here."
